.well {
	margin-top: 1%
}

#profile-pic {
	margin-right: 3%;
}

#soundcloud {
	margin-right: 2%;
}

#twitter {
	margin-right: 2%;
}

#facebook {
	margin-right: 2%;
}

#instagram {
	margin-right: 2%;
}

#name {

	font-size: 6;
	
}

#city {
	
}

#email {
	
}

#musicGenres {
	
}